---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.categories contains 'update' %}
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Blogs</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.categories contains 'blog' %}
          <span class="blog-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

         <h2>
           <a class="blog-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Vlogs</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.categories contains 'vlog' %}
          <span class="blog-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

         <h2>
           <a class="blog-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
